{% extends 'base.html' %}

{% block content %}

    <h3 style="margin-bottom: 80px;">Want to become an author on this awesome app? <a href="/author/new">Become new author</a></h3>

    <h4>{{ author.name }}</h4>
    <p>{{ author.bio }}</p>

    {% if recipes %}
        {% for recipe in recipes %}
            <div>
                <a href="/recipe/{{recipe.id}}">{{recipe.title}}</a>
            </div>
        {% endfor %}
        {% else %}
            <div>
                <p>Check back soon for recipes!</p>
            </div>
    {% endif %}
{% endblock %}